section.section.contacts
  .container
    .contacts__wrap
      .contacts__map
        iframe(src='https://snazzymaps.com/embed/64442', width='749px', height='418px', style='border:none;')
      .contacts__info
