.pit__wrap
  p
    color dark-color
    font-size 19px
    font-weight 300
    line-height 25px
  p+p
    margin-top 15px

.pit__title
  margin-bottom 40px

.pit__meter
  display block
  margin-bottom 20px
  color dark-color
  font-size 22px
  font-weight 700
  line-height 26px

.pit__list
  margin-top 40px
  display flex
  justify-content space-between
  @media (max-width: screen-md)
    flex-wrap wrap
    justify-content center

.pit__item
  width 100%
  max-width 289px
  @media (max-width: screen-md)
    max-width 45%
    margin 0 10px 20px
    order 1
    &:nth-child(3)
      order 3
    &:nth-child(4)
      order 2
  @media (max-width: screen-sm)
    max-width 85%
    margin 0 auto 20px
    &:nth-child(3)
      order 2
    &:nth-child(4)
      order 3

.pit__img
  cursor pointer
  display block
  &+&
    margin-top 5px
  @media (max-width: screen-sm)
    &+&
      margin-top 20px



.pit-modal {
  max-width 900px
  padding 25px
}

.pit-modal__img {
  img {
    width 100%
    max-width 768px
  }
}