.pif
  padding 81px 0 88px
  background #f1f1f1

.pif__title
  text-align center
  margin-bottom 10px

.pif__subtitle
  display block
  text-align center
  font-size 24px
  margin-bottom 73px

.pif__form
  max-width 906px
  margin 0 auto

.pif__list
  z-index 2

.pif__block
  align-self flex-start

.pif__action
  display flex
  align-items center
  padding-left 18px
  margin-top -80px
  z-index 1
  @media (max-width: screen-lg)
    margin-top 20px
  @media (max-width: screen-md)
    flex-direction column-reverse
    padding-left 0

.pif__consent
  margin 0
  max-width 277px
  text-align right
  margin-right 28px
  @media (max-width: screen-md)
    text-align center
    margin-right 0
    margin-top 15px