extends ../layout/main

block variables
	- var title = 'Бренды внутренняя'

block content
	// Бренды внутрення - Верхний баннер
	include ../section/brands-inner/brands-inner__top.pug
	// Конец Бренды внутрення - Верхний баннер
	// Бренды внутрення - Информация
	include ../section/brands-inner/brands-inner__info.pug
	// Конец Бренды внутрення - Информация
	// Бренды внутрення - Коллекция
	include ../section/brands-inner/brands-inner__collection.pug
	// Конец Бренды внутрення - Коллекция