extends ../layout/main

block variables
	- var title = 'Главная страница'

block content
	// Топ секция
	include ../section/main/top-banner.pug
	// Конец топ секции
	// Топ информация
	include ../section/main/top-info.pug
	// Конец топ информации
	// Предпросмотр Брендов
	include ../section/main/brands-preview.pug
	// Предпросмотр Брендов
	// Информация о Команде и Проектах
	include ../section/main/information.pug
	// Информация о Команде и Проектах
	// Предпросмотр Новостей
	include ../section/main/news-preview.pug
	// Предпросмотр Новостей