extends ../layout/main

block variables
	- var title = 'Проекты внутренняя'

block content
	// Проекты внутренняя - Верхний блок
	include ../section/projects-inner/projects-inner__top.pug
	// Конец Проекты внутренняя - Верхний блок
	// Проекты внутренняя - Форма
	include ../section/projects-inner/projects-inner__form.pug
	// Конец Проекты внутренняя - Форма