/* Подключение шрифтов */

@import 'base/fonts.styl'
// ХЕЛПЕРЫ
@import 'base/vars.styl'
@import 'base/mixins.styl'


/* Настройки */

@import 'base/settings.styl'
@import 'base/general.styl'

/* Компоненты */

@import "common/common.styl"

/* Компоненты */


/* Секции */

/* Стили секции header */
@import 'section/header.styl'
/* Стили секции header */

/* Стили секции footer */
@import 'section/footer.styl'
/* Стили секции footer */


/* Главная Страница */


/* Стили секции top-banner */
@import 'section/main/top-banner.styl'
/* Стили секции top-banner */

/* Стили секции top-info */
@import 'section/main/top-info.styl'
/* Стили секции top-info */

/* Стили секции brands-preview */
@import 'section/main/brands-preview.styl'
/* Стили секции brands-preview */

/* Стили секции information */
@import 'section/main/information.styl'
/* Стили секции information */

/* Стили секции news-preview */
@import 'section/main/news-preview.styl'
/* Стили секции news-preview */


/* Страница Наши Проекты */

/* Стили секции projects */
@import 'section/projects/projects.styl'
/* Стили секции projects */


/* Страница Наша команда */

/* Стили секции team */
@import 'section/team/team.styl'
/* Стили секции team */


/* Страница Наши Бренды */

/* Стили секции brands */
@import 'section/brands/brands.styl'
/* Стили секции brands */


/* Страница О Компании */

/* Стили секции about */
@import 'section/about/about.styl'
/* Стили секции about */


/* Страница Новости */

/* Стили секции news */
@import 'section/news/news.styl'
/* Стили секции news */


/* Страница Контакты */

/* Стили секции contacts */
@import 'section/contacts/contacts.styl'
/* Стили секции contacts */


/* Страница Бренды внутреняя */

/* Стили секции brands-inner__top */
@import 'section/brands-inner/brands-inner__top.styl'
/* Стили секции brands-inner__top */

/* Стили секции brands-inner__info */
@import 'section/brands-inner/brands-inner__info.styl'
/* Стили секции brands-inner__info */

/* Стили секции brands-inner__collection */
@import 'section/brands-inner/brands-inner__collection.styl'
/* Стили секции brands-inner__collection */


/* Страница Проекты внутреняя */

/* Стили секции projects-inner__top */
@import 'section/projects-inner/projects-inner__top.styl'
/* Стили секции projects-inner__top */

/* Стили секции projects-inner__form */
@import 'section/projects-inner/projects-inner__form.styl'
/* Стили секции projects-inner__form */


/* Страница Новости внутреняя */

/* Стили секции news-inner__top */
@import 'section/news-inner/news-inner__top.styl'
/* Стили секции news-inner__top */

/* Стили секции news-inner__content */
@import 'section/news-inner/news-inner__content.styl'
/* Стили секции news-inner__content */

/* Стили секции news-inner__last */
@import 'section/news-inner/news-inner__last.styl'
/* Стили секции news-inner__last */




/* Секции */