section.news-preview.wow.fadeInUp
  .container
    h2.news-preview__title.title= main.newsPreview.title
    .news-preview__wrap
      .news-preview__list
        each item in main.newsPreview.list
          include ../../modules/news-preview/list-el
      .news-preview__roll
        each el in main.newsPreview.roll
          include ../../modules/news-preview/roll-el
      
      