.contacts
  padding-top 207px
  padding-bottom 137px
  @media (max-width: screen-lg)
    padding-bottom 100px
  @media (max-width: screen-md)
    padding-top 125px
    padding-bottom 70px
  @media (max-width: screen-sm)
    padding-bottom 40px


.contacts__wrap
  display flex
  justify-content space-between
  @media (max-width: screen-md)
    flex-direction column-reverse

.contacts__map
  max-width 749px
  width 100%
  @media (max-width: screen-lg)
    max-width 420px
  @media (max-width: screen-md)
    max-width 100%
    

.contacts__info
  width 100%
  max-width 335px
  padding-left 24px
  position relative
  &:before
    content ''
    width 3px
    height 33px
    background-color #1b0c0f
    position absolute
    top 0
    left 0
  @media (max-width: screen-xl)
    max-width 300px
    padding-left 10px
  @media (max-width: screen-md)
    max-width 100%
    padding-left 20px
    margin-bottom 40px
  @media (max-width: screen-sm)
    &:before
      display none

.contacts__title
  margin-bottom 55px
  @media (max-width: screen-sm)
    margin-bottom 30px

.contacts__block
  display flex
  &+&
    margin-top 30px
  .icon
    size(20px, 20px)
    margin-right 10px
    fill rgba(186, 167, 167, 0.99)

.contacts__link
  font-size 19px
  color dark-color
  &:hover
    color lighten(dark-color, 20%)

.contacts__text
  color dark-color
  font-weight 300
  &--bold
    font-weight 700


.contacts__subtitle
  color #8b8181
  font-weight 300
  display block
  margin-bottom 10px

.contacts__row
  display flex
  align-items: center
  margin-top 10px
  .contacts__text:first-child
    display block
    margin-right 5px
    padding-right 10px
    position relative
    &:after
      content '/'
      display block
      position absolute
      right 0
      top 0

.contacts__social
  margin-top 44px
  margin-left -24px
  @media (max-width: screen-xl)
    margin-left -5px
  @media (max-width: screen-sm)
    display flex
    justify-content center
    margin-top 30px