section.news.wow.fadeIn
  .container
    .news__wrap
      h2.title.title--dark.news__title= news.title
      .news__block
        .news__last
          include ../../modules/news-preview/last
        .news__roll
          each el in main.newsPreview.roll
            include ../../modules/news-preview/roll-el
      include ../../modules/news-preview/list