include ../mixins
block variables

doctype html
html(lang="ru-RU")
	head
		// Заголовок сайта
		title #{title}

		// Мета теги
		meta(charset="utf-8")
		meta(http-equiv='X-UA-Compatible', content="IE = edge")
		meta(name="viewport" content="width=device-width,initial-scale=1")
		meta(name="keywords" content="")

		//- favicon block start
		//- favicon block end

		// Стили
		// Библиотеки
		link(rel="stylesheet" type='text/css' href="app/css/foundation.css")
		// Собственные стили
		link(rel="stylesheet" type='text/css' href="app/css/main.css")

		<!--[if lt IE 9]>
		script(src="http://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.2/html5shiv.min.js")
		<![endif]-->
		body
			.wrapper
				// Шапка
				include ../section/header
				// Конец Шапки
				// Контент
				block content
				// Конец Контента
				// Модальное окно - Форма заказа
				include ../modules/modal
				// Конец Модального окна - Форма заказа
			// Подвал
			include ../section/footer
			// Конец Подвала
			// Скрипты
			// Библиотеки	
			script(src="app/js/libs.min.js")
			// Собственные скрипты
			script(src="app/js/app.js")
			block script
