.projects__list
  display flex
  justify-content space-between
  flex-wrap wrap

.projects__item
  width 100%
  &--small
    max-width 333px
  &--big
    max-width 545px
    margin-top 105px

.projects__img
  display block
  position relative
  margin-bottom 38px

.projects__search
  position absolute
  bottom 0
  right 0

.projects__name
  font-size 19px
  font-weight 700
  letter-spacing 0.47px
  margin-bottom 15px

.projects__author
  margin-bottom 40px
  display block
  color #b3b3b3
  font-size 14px
  letter-spacing 0.35px

.projects__text
  font-weight 300
  line-height 25px
  letter-spacing 0.4px