// ЦВЕТА
accent-color = #645050
dark-color = #433232
text-color = #493a3a
gray-color = #7f7878
gray-light-color = #a09494


// РАЗМЕРЫ

screen-xs  =        0;
screen-sm  =        480px;
screen-md  =        768px;
screen-lg  =        1100px;
screen-xl  =        1260px;
screen-xxl =        1400px;

// ШРИФТЫ