.more
  background rgba(#574444, 0.9)
  position relative
  width 396px
  height 98px
  display block
  cursor pointer
  &:before,&:after
    content ''
    position absolute
    display block
    width 98px
    height 100%
    top 0
    right 0
  &:before
    background url(../img/general/arrow.png) center no-repeat
    z-index 3
  &:after
    background rgba(accent-color, 0.9)
    z-index 2
    @extend .trs
  &:hover
    &:after
      width 100%
      background rgba(#574444, 0.5) 
  
  &--big
    &:before,&:after
      width 78px
    &:before
      background url(../img/general/arrow--big.png) center no-repeat
