.menu
  position relative

.menu__list
  display flex
  border-bottom 1px solid #ececec

.menu__item
  &+&
    margin-left 33px
  &.active
    .menu__link
      &:after
        width 100%
  &:hover
    .menu__sublist
      transform translateY(0)
      opacity 1
      visibility visible

.menu__link
  color accent-color
  font-size 14px
  font-weight 300
  line-height 25px
  text-transform uppercase
  letter-spacing 0.35px
  display block
  padding 18px 0 24px
  position relative
  background #fff
  z-index 2
  
  &:hover
    &:after
      width 100%
  
  &:after
    content ''
    size(0px, 3px)
    display block
    background accent-color
    position absolute
    bottom -2px
    left 0
    @extend .trs
  
  &.active
    &:after
      width 100%
  
  .header--fixed &
    padding 10px 0


.menu__sublist
  position absolute
  left 0
  right 0
  display flex
  transform translateY(-100%)
  opacity 0
  @extend .trs
  z-index 1
  visibility hidden

.menu__subitem
  &+&
    margin-left 20px
  .menu__link
    padding 10px 0 16px
    background transparent
    text-transform lowercase
    font-weight 700
    &:hover
      &:after
        width 70%
    &.active
      &:after
        width 70%
    .header--fixed &
      padding 4px 0 5px