.footer
  background-color #524545
  padding 36px 0 49px

.footer__wrap
  display flex
  align-items: center
  justify-content space-between
  @media (max-width: screen-lg)
    flex-wrap wrap

.footer__social
  display flex
  flex-direction row-reverse
  @media (max-width: screen-lg)
    order 2
    margin 20px auto 0
  @media (max-width: screen-md)
    margin 0
  @media (max-width: screen-sm)
    order 5
    margin-top 20px

.footer__el
  padding 5px
  display block
  &:hover
    .icon
      fill darken(#e1e1e1, 20%)
  &+&
    margin-right 5px
  .icon
    size(29px, 28px)
    fill #e1e1e1
    @extend .trs
    cursor pointer

.footer__address
  display flex
  align-items center
  .icon
    size(33px, 33px)
    margin-right 10px
    fill #a7a7a7
  @media (max-width: screen-md)
    order 3
    margin-top 20px

.footer__email
  display flex
  align-items center
  .icon
    size(29px, 29px)
    margin-right 14px
    fill #a7a7a7
  @media (max-width: screen-md)
    order 4
    margin-top 20px

.footer__title
  display block
  margin-bottom 7px
  font-weight 300
  color #f9f8f8
  letter-spacing 0.08px

.footer__link
  display block
  font-weight 700
  letter-spacing 0.08px
  color #f9f8f8
  &:hover
    color darken(#f9f8f8, 20%)