.header
  padding 55px 0 20px 
  background white
  position fixed
  width 100%
  top 0
  @extend .trs
  z-index 10
  &--fixed
    padding 20px 0 30px
    box-shadow 0 -1px 15px rgba(0, 0, 0, 0.3)
    .header__menu
      align-self flex-start

.header__wrap
  display flex
  align-items: center

.header__logo
  margin-right 70px

.header__menu
  margin-right auto
  @extend .trs