header.header
  .container
    .header__wrap
      .header__logo
        include ../modules/logo
      .header__menu
        include ../modules/menu
        .btn.btn--border(data-remodal-target="order")= main.general.btn.order
      .header__action
        .btn.btn--border(data-remodal-target="order")= main.general.btn.order
      .header__burger