.top-info
  margin-bottom 187px
  @media (max-width: screen-xl)
    margin-bottom 137px
  @media (max-width: screen-md)
    margin-bottom 40px

.top-info__wrap
  display flex
  justify-content space-between
  @media (max-width: screen-lg)
    align-items center
  @media (max-width: screen-md)
    display block
    text-align center

.top-info__text
  width 100%
  max-width 636px
  padding-left 43px
  padding-top 80px
  font-size 24px
  font-weight 300
  line-height 42px
  letter-spacing 0.24px 
  position relative
  align-self flex-start
  &:before
    content ''
    display block
    size(3px, 208px)
    background accent-color
    position absolute
    bottom 0
    left 0
  &:after
    content ''
    display block
    size(732px, 203px)
    background #f9fbfb
    position absolute
    bottom -91px
    left 166px
    z-index -1
  &:hover
    &:before
      animation anim--bottom 1.4s linear
  @media (max-width: screen-lg)
    &:after
      display none
  @media (max-width: screen-md)
    padding-top 40px
    padding-left 0
    margin-bottom 20px
    font-size 18px
    line-height 22px
    &:before
      display none

.top-info__img
  margin-right 63px
  @media (max-width: screen-md)
    max-width 60%
    margin 0 auto